body{
    margin-left: 150px;
    margin-right: 150px;
}

.nav-bar{
    display: flex;
    border: 2px solid red;
    justify-content: space-evenly;
    gap: 700px;
    align-items: center;
}
.header-logo{
    width: 50px;
}
.nav-bar-links{
    display: flex;
    gap: 15px;
}










.header{
    display: flex;
    border: 2px solid blue;
    border-top: 0px;
    gap: 0px;
    justify-content: space-evenly;
}
.cluster{
    border: 2px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.parag-cima{
    width: 500px;
}
#botaocima{
    /* flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0; */
    flex-shrink: 1;
}
#imagem-codigo{
    width: 600px;
}









.middle-white{
    display: flex;
    border: 2px solid green;
    border-top: 0px;
    flex-direction: column;
}
.info-head{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.box-subset{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.prog-logo{
    width: 100px;
}









.middle-gray{
    display: flex;
    border: 2px solid magenta;
    border-top: 0px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.quote{
    display: flex;
    width: 400px;
    border: 2px solid aqua;
}
.autor{
    border: 2px solid red;
    display: flex;
}







.bottom-white{
    display: flex;
    border: 2px solid brown;
    border-top: 0px;
}










.footer{
    display: flex;
    border: 2px solid aqua;
    border-top: 0px;
}
