body{
    margin-left: 150px;
    margin-right: 150px;
}

.nav-bar{
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
}
.header-logo{
    width: 50px;
}

.nav-bar-links{
    display: flex;
}

.header{
    display: flex;
    border: 2px solid blue;
    border-top: 0px;
}

.middle-white{
    display: flex;
    border: 2px solid green;
    border-top: 0px;
}

.box{
    display: flex;
}

.middle-gray{
    display: flex;
    border: 2px solid magenta;
    border-top: 0px;
}

.bottom-white{
    display: flex;
    border: 2px solid brown;
    border-top: 0px;
}

.footer{
    display: flex;
    border: 2px solid aqua;
    border-top: 0px;
}
